@model Sample_MVC.Models.Notes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotesTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotesTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotesCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotesCreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NotesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
